html{
    background-image: url("assets/bg-wool-dark.png");
    background-size: 125px;
    background-repeat: repeat;
}
.unselectable { /* this is here to that we can't highlight things while playing*/
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
  }
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  

#game{
    background-image: url("assets/plainsBackground.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}
/* .buttons{

} */
.snowman-container{
    position: relative;
    left: 0;
    top: 370px;
}

#snowMan{
    display: inline;
    height: 125px;
}
.snowBall{
    position: absolute;
    /* display: inline; */
    height: 30px;
    /* top: 390px;
    left: 30px; */
}
.Zombie{
    position: absolute;
    top: 370px;
    left: 450px;
    height: 125px;
}